<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>Controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGiangVien</display-name>
    <servlet-name>AddGiangVien</servlet-name>
    <servlet-class>Controller.AddGiangVien</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGiangVien</servlet-name>
    <url-pattern>/AddGiangVien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QLMonSVL</display-name>
    <servlet-name>QLMonSVL</servlet-name>
    <servlet-class>Controller.QLMonSVL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QLMonSVL</servlet-name>
    <url-pattern>/QLMonSVL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopupMon</display-name>
    <servlet-name>PopupMon</servlet-name>
    <servlet-class>Controller.PopupMon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopupMon</servlet-name>
    <url-pattern>/PopupMon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RGSchedule</display-name>
    <servlet-name>RGSchedule</servlet-name>
    <servlet-class>Controller.RGSchedule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RGSchedule</servlet-name>
    <url-pattern>/RGSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMon</display-name>
    <servlet-name>UpdateMon</servlet-name>
    <servlet-class>Controller.UpdateMon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMon</servlet-name>
    <url-pattern>/UpdateMon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTKB</display-name>
    <servlet-name>UpdateTKB</servlet-name>
    <servlet-class>Controller.UpdateTKB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTKB</servlet-name>
    <url-pattern>/UpdateTKB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMon</display-name>
    <servlet-name>DeleteMon</servlet-name>
    <servlet-class>Controller.DeleteMon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMon</servlet-name>
    <url-pattern>/DeleteMon</url-pattern>
  </servlet-mapping>
</web-app>